{# empty Twig template #}
<div id="section{{item.id}}" class="homecontainer container movable elem{{item.id}}">
    <div id="logo" class="{{item.id}}">
    </div>
    <div id="toolbar" class="">
        <div class="imgleft"></div>
        <div id="toolbarContent">
        <img class="nodisplay logosmall" src="../img/kweizarlogo2.png"/>
            <ul>
            {%for section in component[0].getSections()%}
                <li id="elem{{section.id}}" class="toolbarElement">{{section.title}}</li>
            {% endfor%}
            </ul>
        </div>
        <div class="imgright"></div>
        <div id="listento">
            <div id="spotifyHC"><a href="https://open.spotify.com/album/6lcUOHUOhJPesaoR8phRYx?si=ez2vQ5sFRnuVh_guPdnXEg"><img src="img/newer/branding/spotifyHC.png"/></a></div>
            <div id="bandcampHC"><a href="https://kweizar.bandcamp.com/album/human-convergence"><img src="img/newer/branding/bandcampHC.png"/></a></div>
            <div id="soundcloudHC"><a href="https://soundcloud.com/kweizar"><img src="img/newer/branding/soundcloudHC.png"/></a></div>
            <div id="youtubeHC"><a href="https://www.youtube.com/watch?v=MhyPlSpPTCM&list=OLAK5uy_khMAkbeUV8xSa8ww_BVa9jdH2AM1yoLdE"><img src="img/newer/branding/youtubeHC.png"/></a></div>
            <div id="applemusicHC"><a href="https://music.apple.com/us/album/human-convergence/1481080368"><img src="img/newer/branding/appleHC.png"/></a></div>
        </div>
    </div>
</div>
